body {
	width: 1000px;
	margin: 0 auto;
}

#chessDesk {
	width: 700px;
	height: 700px;
	border: 1px solid #ccc;
	float: left;
}

.white, .black {
	width: 10%;
	height: 10%;
}

.black {
	background-color: #ccc;
}

#chessDesk td {
	font-size: 50px;
	text-align: center;
	align-items: center;
	cursor: pointer;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */
}

.active {
	background-color: #2DBB28;
}

.possibleMove {
	background-color: #2DBB28;
	opacity: 0.5;
}

#left-side {
	width: 296px;
	height: 700px;
	float: right;
	border: 2px solid black;
}

.tablo {
	text-align: center;
	padding: 10px;
	font-weight: bold;
	background-color: #000;
	color: #fff;
}

.log {
	border: 1px solid black;
	height: 300px;
	margin-top: 0px;
	padding: 0px;
	overflow-y: scroll;
}

.log li {
	list-style: none;
	font-size: 13px;
	padding-left: 10px;
}

/*.log .dark {
	float: right;
}
.log .light {
	float: left;
}
*/